.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
} /*свойства для основного текста в колонке */

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}
